Repository not-three/main, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, components, server, pages, public

added: info, status and json endpoints
  server/api/info.get.ts
  server/api/json/[id]/[key].get.ts
  server/api/json/[id]/index.get.ts
  server/api/status.get.ts
  server/tsconfig.json
Labels: server

added: expire timer
  components/nav-bar.vue
  components/nav-entry.vue
  mixins/base.ts
  pages/index.vue
  pages/q/[id].vue
Labels: components, pages

chore: readme and compose files
  README.md
  docker-compose.swarm.yml
  docker-compose.yml
Labels: none

ci: fix missing chmod
  .github/workflows/build.yml
  .github/workflows/preview.yml
Labels: ci

ci: added nightly and release diff handling
  .github/workflows/nightly.yml
  .github/workflows/preview.yml
Labels: ci

added: NUXT_APP_BASE_URL to docker build
  Dockerfile
Labels: none

fix: added accidentally removed npm i pnpm
  Dockerfile
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

fix: number conversion missing
  server/api/status.get.ts
Labels: server

added: additional save button
  components/nav-bar.vue
  components/yes-no.vue
Labels: components

Delete CNAME
  CNAME
Labels: none

ci: added paths-ignore
  .github/workflows/nightly.yml
Labels: ci

ci: try to fix gh pages
  .github/workflows/preview.yml
Labels: ci

chore: updated readme
  README.md
Labels: none

Create CNAME
  CNAME
Labels: none

Create .nojekyll
  .nojekyll
Labels: none

Create index.html
  index.html
Labels: none

fix: dockerfile copy missing -L option
  Dockerfile
Labels: none

fix: chain error
  Dockerfile
Labels: none

Update preview.yml
  .github/workflows/preview.yml
Labels: ci

fix: config.json fetch to be dynamic
  mixins/base.ts
Labels: none

Create 404.html
  404.html
Labels: none

Update 404.html
  404.html
Labels: none

Update 404.html
  404.html
Labels: none

chore: added comcercial use clearification
  README.md
Labels: none

added: pr banner
  components/gh-badge.vue
  pages/index.vue
  pages/q/[id].vue
  pnpm-lock.yaml
  public/config.json
Labels: components, pages, public

ci: updated to automatically set pullRequest config
  .github/workflows/preview.yml
  public/config.json
Labels: ci, public

added: api and ui functions for custom expire value
  components/nav-bar.vue
  components/yes-no.vue
  mixins/base.ts
  package.json
  server/api/create.post.ts
Labels: components, server

fix: #4 replacement of readOnly content
  mixins/base.ts
  pages/q/[id].vue
Labels: pages

fix: ci ref -> ref_name
  .github/workflows/build.yml
Labels: ci

added: read once messages
  .vscode/settings.json
  components/nav-bar.vue
  components/notification.vue
  components/spinner.vue
  docker-compose.yml
  mixins/base.ts
  nuxt.config.ts
  package.json
  pages/index.vue
  pages/q/[id].vue
  pnpm-lock.yaml
  server/api/create.post.ts
  server/api/decrypt/[id]/[key].get.ts
  server/api/json/[id]/[key].get.ts
  server/api/json/[id]/index.get.ts
  server/plugins/knex.ts
Labels: components, server, pages

fix: gh badge styling conflicts
  components/gh-badge.vue
Labels: components

chore: updated ci to use wrangler
  .github/workflows/build.yml
Labels: ci

fix: updated gh issue url to redirect to all issues, instead of new
  components/nav-bar.vue
Labels: components

fix: burn notes api response missing
  server/api/json/[id]/[key].get.ts
  server/api/json/[id]/index.get.ts
Labels: server

fix: wrong package manager for wrangler
  .github/workflows/build.yml
Labels: ci

fix: ci
  .github/workflows/build.yml
Labels: ci

fix: installed typescript
  package.json
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

ci: .github/workflows/*
components: components/**
server: server/**
pages: pages/**
public: public/**
